<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>My page title</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One"
      rel="stylesheet" />
    
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>


  </head>

  <body>
    <!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<div class="bg-white">
    <div>
      <!--
        Mobile filter dialog
  
        Off-canvas menu for mobile, show/hide based on off-canvas menu state.
      -->
      <div class="fixed inset-0 flex z-40 lg:hidden" role="dialog" aria-modal="true">
        <!--
          Off-canvas menu overlay, show/hide based on off-canvas menu state.
  
          Entering: "transition-opacity ease-linear duration-300"
            From: "opacity-0"
            To: "opacity-100"
          Leaving: "transition-opacity ease-linear duration-300"
            From: "opacity-100"
            To: "opacity-0"
        -->
        <div class="fixed inset-0 bg-black bg-opacity-25" aria-hidden="true"></div>
  
        <!--
          Off-canvas menu, show/hide based on off-canvas menu state.
  
          Entering: "transition ease-in-out duration-300 transform"
            From: "translate-x-full"
            To: "translate-x-0"
          Leaving: "transition ease-in-out duration-300 transform"
            From: "translate-x-0"
            To: "translate-x-full"
        -->
        <div class="ml-auto relative max-w-xs w-full h-full bg-white shadow-xl py-4 pb-6 flex flex-col overflow-y-auto">
          <div class="px-4 flex items-center justify-between">
            <h2 class="text-lg font-medium text-gray-900">Filters</h2>
            <button type="button" class="-mr-2 w-10 h-10 p-2 flex items-center justify-center text-gray-400 hover:text-gray-500">
              <span class="sr-only">Close menu</span>
              <!-- Heroicon name: outline/x -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
  
          <!-- Filters -->
          <form class="mt-4">
            <div class="border-t border-gray-200 pt-4 pb-4">
              <fieldset>
                <legend class="w-full px-2">
                  <!-- Expand/collapse section button -->
                  <button type="button" class="w-full p-2 flex items-center justify-between text-gray-400 hover:text-gray-500" aria-controls="filter-section-0" aria-expanded="false">
                    <span class="text-sm font-medium text-gray-900"> Marque </span>
                    <span class="ml-6 h-7 flex items-center">
                      <!--
                        Expand/collapse icon, toggle classes based on section open state.
  
                        Heroicon name: solid/chevron-down
  
                        Open: "-rotate-180", Closed: "rotate-0"
                      -->
                      <svg class="rotate-0 h-5 w-5 transform" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                      </svg>
                    </span>
                  </button>
                </legend>
                <div class="pt-4 pb-2 px-4" id="filter-section-0">
                  <div class="space-y-6">
                    <div class="flex items-center">
                      <input id="color-0-mobile" name="color[]" value="white" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                      <label for="color-0-mobile" class="ml-3 text-sm text-gray-500"> White </label>
                    </div>
  
                    <div class="flex items-center">
                      <input id="color-1-mobile" name="color[]" value="beige" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                      <label for="color-1-mobile" class="ml-3 text-sm text-gray-500"> Beige </label>
                    </div>
  
                    <div class="flex items-center">
                      <input id="color-2-mobile" name="color[]" value="blue" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                      <label for="color-2-mobile" class="ml-3 text-sm text-gray-500"> Blue </label>
                    </div>
  
                    <div class="flex items-center">
                      <input id="color-3-mobile" name="color[]" value="brown" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                      <label for="color-3-mobile" class="ml-3 text-sm text-gray-500"> Brown </label>
                    </div>
  
                    <div class="flex items-center">
                      <input id="color-4-mobile" name="color[]" value="green" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                      <label for="color-4-mobile" class="ml-3 text-sm text-gray-500"> Green </label>
                    </div>
  
                    <div class="flex items-center">
                      <input id="color-5-mobile" name="color[]" value="purple" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                      <label for="color-5-mobile" class="ml-3 text-sm text-gray-500"> Purple </label>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
  
            <div class="border-t border-gray-200 pt-4 pb-4">
              <fieldset>
                <legend class="w-full px-2">
                  <!-- Expand/collapse section button -->
                  <button type="button" class="w-full p-2 flex items-center justify-between text-gray-400 hover:text-gray-500" aria-controls="filter-section-1" aria-expanded="false">
                    <span class="text-sm font-medium text-gray-900"> Category </span>
                    <span class="ml-6 h-7 flex items-center">
                      <!--
                        Expand/collapse icon, toggle classes based on section open state.
  
                        Heroicon name: solid/chevron-down
  
                        Open: "-rotate-180", Closed: "rotate-0"
                      -->
                      <svg class="rotate-0 h-5 w-5 transform" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                      </svg>
                    </span>
                  </button>
                </legend>
                <div class="pt-4 pb-2 px-4" id="filter-section-1">
                  <div class="space-y-6">
                    <div class="flex items-center">
                      <input id="category-0-mobile" name="category[]" value="new-arrivals" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                      <label for="category-0-mobile" class="ml-3 text-sm text-gray-500"> All New Arrivals </label>
                    </div>
  
                    <div class="flex items-center">
                      <input id="category-1-mobile" name="category[]" value="tees" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                      <label for="category-1-mobile" class="ml-3 text-sm text-gray-500"> Tees </label>
                    </div>
  
                    <div class="flex items-center">
                      <input id="category-2-mobile" name="category[]" value="crewnecks" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                      <label for="category-2-mobile" class="ml-3 text-sm text-gray-500"> Crewnecks </label>
                    </div>
  
                    <div class="flex items-center">
                      <input id="category-3-mobile" name="category[]" value="sweatshirts" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                      <label for="category-3-mobile" class="ml-3 text-sm text-gray-500"> Sweatshirts </label>
                    </div>
  
                    <div class="flex items-center">
                      <input id="category-4-mobile" name="category[]" value="pants-shorts" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                      <label for="category-4-mobile" class="ml-3 text-sm text-gray-500"> Pants &amp; Shorts </label>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
  
            <div class="border-t border-gray-200 pt-4 pb-4">
              <fieldset>
                <legend class="w-full px-2">
                  <!-- Expand/collapse section button -->
                  <button type="button" class="w-full p-2 flex items-center justify-between text-gray-400 hover:text-gray-500" aria-controls="filter-section-2" aria-expanded="false">
                    <span class="text-sm font-medium text-gray-900"> Sizes </span>
                    <span class="ml-6 h-7 flex items-center">
                      <!--
                        Expand/collapse icon, toggle classes based on section open state.
  
                        Heroicon name: solid/chevron-down
  
                        Open: "-rotate-180", Closed: "rotate-0"
                      -->
                      <svg class="rotate-0 h-5 w-5 transform" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                      </svg>
                    </span>
                  </button>
                </legend>
                <div class="pt-4 pb-2 px-4" id="filter-section-2">
                  <div class="space-y-6">
                    <div class="flex items-center">
                      <input id="sizes-0-mobile" name="sizes[]" value="xs" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                      <label for="sizes-0-mobile" class="ml-3 text-sm text-gray-500"> XS </label>
                    </div>
  
                    <div class="flex items-center">
                      <input id="sizes-1-mobile" name="sizes[]" value="s" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                      <label for="sizes-1-mobile" class="ml-3 text-sm text-gray-500"> S </label>
                    </div>
  
                    <div class="flex items-center">
                      <input id="sizes-2-mobile" name="sizes[]" value="m" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                      <label for="sizes-2-mobile" class="ml-3 text-sm text-gray-500"> M </label>
                    </div>
  
                    <div class="flex items-center">
                      <input id="sizes-3-mobile" name="sizes[]" value="l" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                      <label for="sizes-3-mobile" class="ml-3 text-sm text-gray-500"> L </label>
                    </div>
  
                    <div class="flex items-center">
                      <input id="sizes-4-mobile" name="sizes[]" value="xl" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                      <label for="sizes-4-mobile" class="ml-3 text-sm text-gray-500"> XL </label>
                    </div>
  
                    <div class="flex items-center">
                      <input id="sizes-5-mobile" name="sizes[]" value="2xl" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                      <label for="sizes-5-mobile" class="ml-3 text-sm text-gray-500"> 2XL </label>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </form>
        </div>
      </div>
  
      <main class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="border-b border-gray-200 pb-10">
          <h1 class="text-4xl font-extrabold tracking-tight text-gray-900">Smartphones</h1>
          <p class="mt-4 text-base text-gray-500">Checkout out the latest release of Basic Tees, new and improved with four openings!</p>
        </div>
  
        <div class="pt-12 lg:grid lg:grid-cols-3 lg:gap-x-8 xl:grid-cols-4">
          <aside>
            <h2 class="sr-only">Filters</h2>
  
            <!-- Mobile filter dialog toggle, controls the 'mobileFilterDialogOpen' state. -->
            <button type="button" class="inline-flex items-center lg:hidden">
              <span class="text-sm font-medium text-gray-700">Filters</span>
              <!-- Heroicon name: solid/plus-sm -->
              <svg class="flex-shrink-0 ml-1 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
              </svg>
            </button>
  
            <div class="hidden lg:block">

              <!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->


              <div class="divide-y divide-gray-200 space-y-10">
                <div>
                  <fieldset>
                    <legend class="block text-sm font-medium text-gray-900">Marque</legend>
                    <div  class="pt-6 space-y-3"> 
                       <form method="post" action="{% url 'my_view' %}">
                        {% csrf_token %} 
                      
                      {% for marque in marqueList %}
                      <div class="flex items-center">
                        <input id="{{marque.marque}}" name="my_checkbox_name" value="{{marque.marque}}" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                        <label for="{{marque.maque}}" class="ml-3 text-sm text-gray-600">{{marque.marque}}</label>
                      </div>
                      {% endfor %}
                      
                     
                    {% comment %} </form>    {% endcomment %}
                    </div >
                  </fieldset>
                </div>
                <div>
                    <div class="flex justify-between">
                      {% comment %} <form action="{% url 'process_form' %}" method="POST" >
                        {% csrf_token %} {% endcomment %}
                      <label for="min" class="block text-sm font-medium text-gray-700">Min price</label>
                      <!-- <>span class="text-sm text-gray-500" id="email-optional">Optional</span>-->
                    </div>
                    <div class="mt-1">
                      <input type="number" name="min" id="min" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" placeholder="" aria-describedby="email-optional">
                    </div>
    
                  </div>

                  <div>
                    <div class="flex justify-between">
                      <label for="max" class="block text-sm font-medium text-gray-00">Max price</label>
                      <!--<span class="text-sm text-gray-500" id="email-optional">Optional</span>-->
                    </div>
                    <div class="mt-1">
                      <input type="number" name="max" id="max" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" placeholder="" aria-describedby="email-optional">
                    </div>
                    {% comment %} <button type="submit">ttt</submit>
                    </form> {% endcomment %}
                  </div>
  
                <div class="pt-10">
                  <!--<fieldset>
                    <legend class="block text-sm font-medium text-gray-900">Category</legend>
                    <div class="pt-6 space-y-3">
                      <div class="flex items-center">
                        <input id="category-0" name="category[]" value="new-arrivals" type="radio" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                        <label for="category-0" class="ml-3 text-sm text-gray-600"> All New Arrivals </label>
                      </div>
  
                      <div class="flex items-center">
                        <input id="category-1" name="category[]" value="tees" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                        <label for="category-1" class="ml-3 text-sm text-gray-600"> Tees </label>
                      </div>
  
                      <div class="flex items-center">
                        <input id="category-2" name="category[]" value="crewnecks" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                        <label for="category-2" class="ml-3 text-sm text-gray-600"> Crewnecks </label>
                      </div>
  
                      <div class="flex items-center">
                        <input id="category-3" name="category[]" value="sweatshirts" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                        <label for="category-3" class="ml-3 text-sm text-gray-600"> Sweatshirts </label>
                      </div>
  
                      <div class="flex items-center">
                        <input id="category-4" name="category[]" value="pants-shorts" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                        <label for="category-4" class="ml-3 text-sm text-gray-600"> Pants &amp; Shorts </label>
                      </div>
                    </div>  
                  </fieldset>-->
                </div>
  
                <div class="pt-10">
                  <fieldset>
                    <legend class="block text-sm font-medium text-gray-900">Seller Rating</legend>
                    <div class="pt-6 space-y-3">
                       {% comment %} <form action="{% url 'process_form' %}" method="post" >
                        {% csrf_token %}  {% endcomment %}
                      {% for rating in sellerRating%}
                      <div class="flex items-center">
                        <input id="sizes-0" name="rating" value={{rating.title}} type="radio" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                        <label for="sizes-0" class="ml-3 text-sm text-gray-600"> {{rating.title}} </label>
                      </div>
                      {% endfor %}
                      <button type="submit"> submit</button>
                    </form> 
                      {% comment %} <div class="flex items-center">
                        <input id="sizes-1" name="sizes[]" value="s" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                        <label for="sizes-1" class="ml-3 text-sm text-gray-600"> S </label>
                      </div>
  
                      <div class="flex items-center">
                        <input id="sizes-2" name="sizes[]" value="m" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                        <label for="sizes-2" class="ml-3 text-sm text-gray-600"> M </label>
                      </div>
  
                      <div class="flex items-center">
                        <input id="sizes-3" name="sizes[]" value="l" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                        <label for="sizes-3" class="ml-3 text-sm text-gray-600"> L </label>
                      </div>
  
                      <div class="flex items-center">
                        <input id="sizes-4" name="sizes[]" value="xl" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                        <label for="sizes-4" class="ml-3 text-sm text-gray-600"> XL </label>
                      </div>
  
                      <div class="flex items-center">
                        <input id="sizes-5" name="sizes[]" value="2xl" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                        <label for="sizes-5" class="ml-3 text-sm text-gray-600"> 2XL </label>
                      </div> {% endcomment %}
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
          </aside>
  
          <!-- Product grid -->
          <div class="mt-6 lg:mt-0 lg:col-span-2 xl:col-span-3">
            <!-- Replace with your content -->
            <!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<div class="bg-white">
    <div class="max-w-7xl mx-auto overflow-hidden sm:px-6 lg:px-8">
      <h2 class="sr-only">Products</h2>
  
      <div class="-mx-px border-l border-gray-200 grid grid-cols-2 sm:mx-0 md:grid-cols-3 lg:grid-cols-4">
        
        
        {% for data in datalist %}
        <div class="group relative p-4 border-r border-b border-gray-200 sm:p-6">
          <div class="rounded-lg overflow-hidden bg-gray-200 aspect-w-1 aspect-h-1 group-hover:opacity-75">
            <img src={{data.image}} alt="TODO" class="w-full h-full object-center object-cover">
          </div>
          <div class="pt-10 pb-4 text-center">
            <h3 class="text-sm font-medium text-gray-900">
              <a href={{data.links}}>
                <span aria-hidden="true" class="absolute inset-0"></span>
                {{data.name}}
              </a>
            </h3>
            {% if data.review != 0  %}
            <div class="mt-3 flex flex-col items-center">
              <p class="sr-only">{{data.stars}}</p>
              <div class="flex items-center">
                {% if data.stars %}
                {% for i in data.stars|floatformat:0 %}
                <svg class="text-yellow-400 flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                </svg>
                {% endfor %}
                {% endif %}
  
                <!-- Heroicon name: solid/star 
                <svg class="text-yellow-400 flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                </svg>-->
  
                <!-- Heroicon name: solid/star 
                <svg class="text-yellow-400 flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                </svg>-->
  
                <!-- Heroicon name: solid/star 
                <svg class="text-yellow-400 flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                </svg>-->
  
                <!-- Heroicon name: solid/star -->
                <svg class="text-yellow-400 flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                </svg>
              </div>
              <p class="mt-1 text-sm text-gray-500">{{data.review |floatformat:0}} reviews</p>
            </div>
             {% endif %}

            <p class="mt-4 text-base font-medium text-gray-900">{{data.price}}</p>
          </div>
        </div>
        {% endfor %}
  
        
        <!-- More products... -->
      </div>
    </div>
  </div>
  
            <!--<div class="border-4 border-dashed border-gray-200 rounded-lg h-96 lg:h-full"></div>-->
            <!-- /End replace -->
          </div>

        </div>
      </main>
      
    </div>
  </div>
  <!--<div class="pagination">
    <span class="step-links">
        {% if datalist.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ datalist.previous_page_number }}">&lsaquo; previous</a>
        {% endif %}

        <span class="current-page">
            Page {{ datalist.number }} of {{ datalist.paginator.num_pages }}.
        </span>

        {% if datalist.has_next %}
            <a href="?page={{ datalist.next_page_number }}">next &rsaquo;</a>
            <a href="?page={{ datalist.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>-->
{% comment %} 
  <!-- This example requires Tailwind CSS v2.0+ -->
  <form method="post" action="{% url 'my_view' %}">
    {% csrf_token %}
    <input type="checkbox" name="my_checkbox_name" value="checkbox_value">
    <input type="checkbox" name="my_checkbox_name" value="checkbox_value2">
    <input type="submit" value="Submit">
</form>
<nav class="border-t border-gray-200 px-4 flex items-center justify-between sm:px-0">
    
    <div class="-mt-px w-0 flex-1 flex">
        {% if datalist.has_previous %}
      <a href="?page={{ datalist.previous_page_number }}" class="border-t-2 border-transparent pt-4 pr-1 inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-700 hover:border-gray-300">
        <!-- Heroicon name: solid/arrow-narrow-left -->
        <svg class="mr-3 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd" />
        </svg>
        Previous
      </a>
      {% endif %}
    </div>
    <div class="hidden md:-mt-px md:flex">
        {% if datalist.has_previous %}
      <a href="?page={{ datalist.previous_page_number }}" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 border-t-2 pt-4 px-4 inline-flex items-center text-sm font-medium"> {{ datalist.previous_page_number }} </a>
      {% endif %}
      <!-- Current: "border-indigo-500 text-indigo-600", Default: "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300" -->
      <a href="#" class="border-indigo-500 text-indigo-600 border-t-2 pt-4 px-4 inline-flex items-center text-sm font-medium" aria-current="page"> {{ datalist.number }} </a>
      {% if datalist.has_next %}
      <a href="?page={{ datalist.next_page_number }}" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 border-t-2 pt-4 px-4 inline-flex items-center text-sm font-medium"> {{ datalist.next_page_number }} </a>
      {% endif %}
      <span class="border-transparent text-gray-500 border-t-2 pt-4 px-4 inline-flex items-center text-sm font-medium"> ... </span>
      <a href="#" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 border-t-2 pt-4 px-4 inline-flex items-center text-sm font-medium"> {{ datalist.paginator.num_pages |add:"-2" }} </a>
      <a href="#" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 border-t-2 pt-4 px-4 inline-flex items-center text-sm font-medium"> {{ datalist.paginator.num_pages |add:"-1" }} </a>
      <a href="?page={{ datalist.paginator.num_pages }}" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 border-t-2 pt-4 px-4 inline-flex items-center text-sm font-medium"> {{ datalist.paginator.num_pages }} </a>
    </div>
    
    <div class="-mt-px w-0 flex-1 flex justify-end">
        {% if datalist.has_next %}
      <a href="?page={{ datalist.next_page_number }}" class="border-t-2 border-transparent pt-4 pl-1 inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-700 hover:border-gray-300">
        Next
        <!-- Heroicon name: solid/arrow-narrow-right -->
        <svg class="ml-3 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
      </a>
      {% endif %}
    </div>
    
  </nav> {% endcomment %}
  
  </body>

  
</html>
